footer {
  background-color: var(--little-black);
  justify-content: space-around;
  height: var(--footer-height);
}

.social-links {
  justify-content: space-evenly;
  transition: 0.7s ease;
  gap: 2rem;
}

.social-links span :hover {
  color: var(--accent-color);
}