.home-section {
    justify-content: space-between;
}

.home {
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.home-image {
    width: fit-content;
}

.my-image {
    width: 25rem;
    border-radius: 300px;
    text-align: center;
}