.project-image {
  width: 450px;
  height: 256px;
  border-radius: 20px;
}

.project-card {
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  height: 475px;
}

.project-card:hover {
  background-color: #27272a;
}

.project-section {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

.project-title {
  text-align: left;
}

.project-tech {
  font-weight: bold;
}

.project-details {
  margin: 10px;
  font-weight: 350;
  color: aliceblue;
}

.card-link {
  cursor: pointer;
  padding: 5px;
}

.card-link:hover {
  color: var(--accent-color);
}
