@media screen and (max-width: 1300px) {
       
        /* Home Section */
        .home-section {
            margin: 1rem 2rem;
        }

        /* Project Section */
        .project-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100vw;
        }
}
@media screen and (max-width: 991px) {

    /* Utility */
    h1 {
        font-size: 25px;
    }

    /* Footer */
    .social-links {
        width: 100vw;
        justify-content: space-evenly;
    }

    #copyText {
        display: none;
    }

    /* Skill Section */
    .skill-section {
        display: grid;
        grid-template-columns: repeat(2, 0.3fr);
        column-gap: 0px;
    }

    /* footer section */
    footer {
        position: static !important;
    }
}

@media screen and (max-width: 767px) {

    /* Utility */
    h1 {
        font-size: 20px;
    }

    .main-heading {
        font-size: 40px;
    }

    /* Footer Section */
    .footer-text {
        display: none;
        justify-content: space-between;
    }

    /* Home Section */
    .home-section {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .home {
        margin: 2rem 0;
    }

    .my-image {
        width: 22rem !important;
    }

    /* Skill section */
    .skill-section {
        height: max-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    /* Project Section */
    .project-tech {
        font-size: 15px;
    }
}

@media screen and (max-width: 479px) {

    /* Home Section */
    .my-image {
        width: 20rem !important;
    }

    /* Project Section */
    .project-image {
        width: 330px !important;
        height: 180px !important;
    }

    .project-card {
        width: 350px;
        height: 390px !important;
    }
}